a:link, a:visited {
    background-color: #f7a758;
    color: #000000;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #9da59b;
}