a:link, a:visited{
    background-color: #ffb601;
    color: #606060;
    width: 99%;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0;
}

a:hover, a:active {
    background-color: #fcaf67;
}