<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/tabs.css" rel="stylesheet" type="text/css"/>
    <script src="/lib/jquery-3.1.1.js"></script>
    <script src="/js/archive.js"></script>

    <title>Drive tables</title>

</head>
<body>
<div class="section">

    <ul class="tabs">
        <li class="current">CТАНДАРТ</li>
        <li>СПОРТ ПЕРЕДНІЙ</li>
        <li>СПОРТ ЗАДНІЙ</li>
        <li>ЗАГАЛЬНИЙ</li>
    </ul>

    <table class="box">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <table class="box">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <table class="box">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <table class="box">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>
</body>
</html>