<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/css/panel.css" rel="stylesheet" type="text/css"/>
    <script src="/lib/jquery-3.1.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>
</head>
<body>

<div id="flip">Створити нову гонку</div>
<div id="panel">
    <form action="/qualification">
       <span>Дата гонки <input type="date" name="date"/></span>
        <span> Назва <input type="text" name="raceName"/></span>
        <span><input type="submit" value="продовжити"/></span>
    </form>
</div>

<table>
    <tr th:each="race : ${raceList}">
        <td width="100px" th:text="${race.date}"/>
        <td th:text="${race.raceName}"/>
        <td>
            <button id="race_result">відкрити</button>
        </td>
    </tr>
</table>

</body>
</html>