<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/tabs.css" rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>

<table class="box">
    <tr>
        <td width="10">Класс</td>
        <td width="18%">Ім'я водія</td>
        <td width="2%">Номер</td>
        <td width="10%">Фвтомобіль</td>
        <th width="20%" colspan="4">1-й заїзд</th>
        <th width="20%" colspan="4">2-й заїзд</th>
        <th width="20%" colspan="4">3-й заїзд</th>
    </tr>
    <tr>
        <td>Стандарт</td>
        <td>Jonson</td>
        <td>88</td>
        <td>Mazda</td>
        <td><input type="text" size="13" placeholder="time" form="my_form" pattern="^(?:(?:([0-5]?\\d):)?([0-5]?\d):)?([0-5]?\d)$"/></td>
        <td><input type="checkbox" name="penalty" value="chip_bord" form="my_form"/>ФБ</td>
        <td><input type="checkbox" name="penalty" value="chip_front" form="my_form"/>ФФ</td>
        <td><input type="checkbox" name="penalty" value="fail_finish" form="my_form"/>ФС</td>
        <td><input type="text" size="13" placeholder="time" form="my_form" pattern="^(?:(?:([0-5]?\\d):)?([0-5]?\\d):)?([0-5]?\\d)$"/></td>
        <td><input type="checkbox" name="penalty" value="chip_bord" form="my_form"/>ФБ</td>
        <td><input type="checkbox" name="penalty" value="chip_front" form="my_form"/>ФФ</td>
        <td><input type="checkbox" name="penalty" value="fail_finish" form="my_form"/>ФС</td>
        <td><input type="text" size="13" placeholder="time" form="my_form" pattern="^(?:(?:([0-5]?\\d):)?([0-5]?\\d):)?([0-5]?\\d)$"/></td>
        <td><input type="checkbox" name="penalty" value="chip_bord" form="my_form"/>ФБ</td>
        <td><input type="checkbox" name="penalty" value="chip_front" form="my_form"/>ФФ</td>
        <td><input type="checkbox" name="penalty" value="fail_finish" form="my_form"/>ФС</td>
    </tr>
</table>
<form method="GET" id="my_form">
    <input type="submit" name="absolute" value="Результат"/>
</form>
</body>
</html>