<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/tabs.css" rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>
<table class="box">
    <tr>
        <td width="10">Класс</td>
        <td width="30%">Водій</td>
        <td width="10%">Номер</td>
        <td width="10%">Автомобіль</td>
        <th width="20%">1-й заїзд</th>
        <th width="20%">2-й заїзд</th>
    </tr>
    <tr>
        <td>Стандарт</td>
        <td>Jonson</td>
        <td>88</td>
        <td>Mazda</td>
        <td><input type="text" size="14" placeholder="время" pattern="^(?:(?:([0-5]?\d):)?([0-5]?\d):)?([0-5]?\d)$"/></td>

        <td><input type="text" size="14" placeholder="время" pattern="^(?:(?:([0-5]?\d):)?([0-5]?\d):)?([0-5]?\d)$"/></td>
    </tr>
</table>
</body>
</html>
